@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  margin: 0 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 49;
}

.custom-slider .label {
  font-size: 1.25rem;
}
