.cart-logo {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/icons/shopping_bag.svg");
}

.cart-logo:hover {
  background-image: url("../../../assets/icons/shopping_bag_hover.svg");
}

.favorite-logo {
  width: 24px;
  height: 24px;
  background-image: url("../../../assets/icons/heart_line.svg");
}
.favorite-logo:hover {
  background-image: url("../../../assets/icons/heart_line_hover.svg");
}

.brand-logo {
  width: 100px;
  height: 50px;
  margin-bottom: 8px;
  background-image: url("../../../assets/icons/Logo_1_blue.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
